@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main h1{
    text-align: center;
}

.botao{
display: flex;
justify-content: space-around;
gap: 15px;
}

.sim{
    background-color: rgb(16, 206, 16);
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 17px;
    border: 1px solid darkgreen;
}

.sim:hover{
    background-color: rgb(3, 153, 3);
}

.nao{
    background-color: rgb(206, 16, 16);
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 17px;
    border: 1px solid rgb(100, 0, 0);
}

.nao:hover{
    background-color: rgb(153, 3, 3);
}

.mudar{
    background-color: rgb(178, 206, 16);
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 17px;
    border: 1px solid rgb(100, 98, 0);
}

.mudar:hover{
    background-color: rgb(153, 151, 3);
}

.incrementar{
    background-color: rgb(16, 67, 206);
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 17px;
    border: 1px solid rgb(7, 0, 100);
}

.incrementar:hover{
    background-color: rgb(3, 26, 153);
}